<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/e9818e6101.js" crossorigin="anonymous"></script>
    <title>My Business Card</title>
</head>

<body>
    <main class="card">
        <img class="profile-picture" src="https://avatars.githubusercontent.com/ig0r-ferreira" alt="Profile picture">
        <div class="info">
            <h1>Igor Ferreira</h1>
            <div class="job-container">
                <p>Python Developer</p>
                <img class="python-logo" src="../static/images/python-logo.svg" alt="Python logo">
            </div>
        </div>
        <ul class="contact">
            <li>
                <a href="https://github.com/ig0r-ferreira/">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/ig0r-ferreira">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="mailto:iferreira.n01@gmail.com">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </li>
        </ul>
    </main>
</body>

</html>