<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>My Business Card</title>
</head>

<body>
    <main class="card">
        <img class="profile-picture" src="https://avatars.githubusercontent.com/ig0r-ferreira" alt="Profile picture">
        <h1>Igor Ferreira</h1>
        <div class="job-container">
            <p>Python Developer</p>
            <img class="python-logo" src="../static/images/python-logo.svg" alt="Python logo">
        </div>
    </main>
</body>

</html>